@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: Poppins;
  font-size: 12px;
}

.description {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Slider Container */
.slider {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.slider .list {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Dark Overlay */
.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1; /* Overlay behind content */
}

.slider .list .item.active {
  opacity: 1;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.slider .list .item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgb(0 0 0 / 92%), rgba(0, 0, 0, 0));
    z-index: 2; 
}

/* Content inside the slider */
.slider .list .item .content {
  position: absolute;
  top: 29%;
  width: 92%;
  max-width: 48%;
  left: 28%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 0 5px 10px #0004;
  z-index: 3; /* Ensure content appears above the overlay */
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
}
.slider .list .item .type {
  color: #1b7878;
  font-size: 5em !important;
  text-shadow: 2px 0px 0px #ffffff;
  letter-spacing: 3px;
}

/* Thumbnail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 3; /* Ensure thumbnails are above the overlay */
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.button button {
  padding: 10px 14px;
  letter-spacing: 3px;
  font-weight: 500;
  margin-top: 30px;
}

/* Arrows */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 44%;
  z-index: 1;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1b7878;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 6px 9px black;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation */
@keyframes slideInNext {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInPrev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.thumbnail .item.active {
  animation: showThumbnail 0.5s forwards;
}

@keyframes showThumbnail {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media(max-width:1028px){
  .slider .list .item img {
    object-fit: cover;
}
}
@media(max-width:800px){
  .slider .list .item .content .title, .slider .list .item .content .type {
    font-size: 2.4em;
}
.nextPrevArrows {
  right: 27%;}
  .slider .list .item .content {
    top: 15%;}
  .slider .list .item .type {
    font-size: 3.8em !important;}
}
/* Responsive */
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    width: 100%;
    max-width: 100%;
    left: 0%;
    transform: translateX(-0%);
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    z-index: 3;
    padding: 0 24px;
}
.slider .list .item .type {
  font-size: 2.6em !important;}
  .slider .list .item .content .title {
    font-size: 23px;
  }
  .nextPrevArrows {
    right: 33%;
}
}
